<body>
  <ng-container *ngIf="isHideMenu">

    <div class="p-grid p-ai-center vertical-container">
      <div class="p-col">
        <div class="p-d-flex p-jc-center">
          <div class="p-mr-2"></div>
        </div>
      </div>
      <div class="p-col">
        <div class="p-d-flex p-jc-center">
          <div class="p-mr-2" class="relative1">
            <img src="assets/img/1111.jpg">
          </div>
        </div>
      </div>
      <div class="p-col">
        <div class="p-d-flex p-jc-center">
          <div class="p-mr-2"></div>
        </div>
      </div>
    </div>
    <div class="p-grid p-ai-center vertical-container">
      <div class="p-col">
        <div class="p-d-flex p-jc-center">
          <div class="p-mr-2"></div>
        </div>
      </div>
      <div class="p-col">
        <div class="p-d-flex p-jc-center">
          <div class="p-mr-2" class="relative2">
            <button pButton pRipple type="button" label=" Web Applications for Accepting Students "
              class="p-button-raised p-button-warning p-button-text" routerLink="/home"
              routerLinkActive="active"></button>
          </div>
        </div>
      </div>
      <div class="p-col">
        <div class="p-d-flex p-jc-center">
          <div class="p-mr-2"></div>
        </div>
      </div>
    </div>
  </ng-container>
</body>

<router-outlet></router-outlet>