<p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
<br>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>
<!------------------------------------  Toolbar Show Topic Table Teacher   ------------------------------------>
<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
        <h3>ตารางชั้นเรียน</h3>
        &nbsp;&nbsp;&nbsp;<button pButton pRipple type="button" label=""
            class="p-button-raised p-button-success p-button-text" icon="pi pi-plus" iconPos="right"
            (click)="handleAddClassRoom()"></button>
    </ng-template>
</p-toolbar>

<!------------------------------------  Form Show Table ClassRoom   ------------------------------------>


<div class="card">
    <p-table #dt1 [value]="classRoomValueTable" [value]="virtualCars" selectionMode="single" [(selection)]="selectedclassRoom" dataKey="id"
        styleClass="p-datatable-customers" [rows]="10" [paginator]="true" stateStorage="session"
        stateKey="statedemo-session" [showCurrentPageReport]="true"
        [totalRecords]="totalRecords" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[4,10,25,50]"  [loading]="loading"  (onLazyLoad)="loadClassRoom($event)" [lazy]="true" >
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">ลำดับชั้นเรียน <p-sortIcon field="id"></p-sortIcon>
                </th>
                <th pSortableColumn="className">ชั้นเรียน <p-sortIcon field="className"></p-sortIcon>
                </th>
                <th style="text-align:center">สถานะ</th>
            </tr>
            <tr>
                <th>
                    <input pInputText type="text" (input)="dt1.filter($event.target.value, 'id', 'contains')"
                        [value]="dt1.filters['id']?.value" placeholder="ค้นหาโดยลำดับ" class="p-column-filter">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt1.filter($event.target.value, 'className', 'contains')"
                        [value]="dt1.filters['className']?.value" placeholder="ค้นหาโดยชื่อชั้นเรียน"
                        class="p-column-filter">
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-classRoom>
            <tr [pSelectableRow]="classRoom">
                <td>
                    <span class="p-column-title">ลำดับที่</span>
                    {{classRoom.id}}
                </td>
                <td>
                    <span class="p-column-title"></span>
                    <span class="image-text">{{classRoom.className}}</span>
                </td>
                <td style="text-align:center">
                    <button pButton pRipple type="button" icon="pi pi-pencil" (click)="handleEditClassRoom(classRoom)"
                        class="p-button-rounded p-button-text"></button>
                    <button pButton pRipple type="button" icon="pi pi-trash"
                        (click)="handleSelectDeleteClassRoom(classRoom)"
                        class="p-button-rounded p-button-text  p-button-danger"></button>
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No classs found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>


<!-- <p-card [style]="{'background-color':' rgb(242, 250, 234)'}">
    <p-table [value]="allClassRoom" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th>ลำดับชั้นเรียน</th>
                <th>ชื่อชั้นเรียน</th>

                <th style="text-align:center">สถานะ</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-classRoom>
            <tr>
                <td>{{classRoom.id}}</td>
                <td>{{classRoom.className}}</td>
                <td style="text-align:center">
                    <button pButton pRipple type="button" icon="pi pi-pencil" (click)="handleEditClassRoom(classRoom)"
                        class="p-button-rounded p-button-text"></button>
                    <button pButton pRipple type="button" icon="pi pi-trash"
                        (click)="handleSelectDeleteClassRoom(classRoom)"
                        class="p-button-rounded p-button-text  p-button-danger"></button>
                </td>
            </tr>
        </ng-template>

    </p-table>
</p-card> -->

<!-------------------------------------------------------- Templet Form Add ClassRoom -------------------------------------------------------->

<p-dialog [(visible)]="isShowAddClassRoomDialog" [style]="{width: '450px'}" header="เพิ่มชั้นเรียน" [modal]="true"
    styleClass="p-fluid">

    <ng-template pTemplate="content">
        <form [formGroup]="classRoomForm" (ngSubmit)="handleSaveAddClassRoom(classRoomForm.value)">
            <div class="p-field">
                <label for="name">ชื่อชั้นเรียน</label>
                <input type="text" pInputText formControlName="className" required>
            </div>

            <div class="p-grid p-ai-center vertical-container">
                <div class="p-col">
                    <label for="name">ครูประจำชั้นเรียน</label>
                    <p-dropdown [options]="allTeacher" formControlName="teacher"></p-dropdown>
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col-4"></div>
                <div class="p-col"></div>
                <div class="p-col"></div>
                <div class="p-col"><button pButton pRipple label="Cancel" icon="pi pi-times"
                        class="p-button-text p-button-danger" (click)="hideDialog()"></button> </div>

                <div class="p-col"><button pButton pRipple type="submit" label="Save" icon="pi pi-check"
                        [disabled]="!classRoomForm.valid" class="p-button-text p-button-success"></button>
                </div>
                <div class="p-col"></div>
                <div class="p-col"></div>
                <div class="p-col"></div>
                <div class="p-col">

                </div>
            </div>
        </form>
    </ng-template>

</p-dialog>

<!-------------------------------------------------------- Templet Form Edit ClassRoom -------------------------------------------------------->

<p-dialog [(visible)]="isShowEditClassRoomDialog" [style]="{width: '450px'}" header="ข้อมูลชั้นเรียน" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">

        <div class="p-field">
            <label for="name">ชื่อชั้นเรียน</label>
            <input type="text" pInputText placeholder="{{selectClassRoom.className}}"
                [(ngModel)]="selectClassRoom.className" required autofocus>
        </div>
        <div class="p-grid p-ai-center vertical-container">
            <div class="p-col">
                <label for="name">คุณครูประจำชั้น</label>
                <p-dropdown [options]="allTeacher" [(ngModel)]="selectClassRoom.teacher.id"
                    placeholder="{{selectClassRoom.teacher}}">
                </p-dropdown>
            </div>
        </div>

    </ng-template>
    <!------------------------------------   Template ButtonStatus Teacher Dialog  ------------------------------------>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text p-button-danger"
            (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text p-button-success"
            (click)="handleSaveEditClassRoom(selectClassRoom)"></button>
    </ng-template>
</p-dialog>